
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/css/site.css" rel="stylesheet"  type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <Header>
        <nav>
            <img id="burger" src="~/images/burgerClosed.svg" />
            <a id="logo" href=@Url.Action("Index", "Home")>CMDb</a>
            <div id="searchContainer">
                <form asp-action="Movies" asp-controller="DetailPage" method="get">
                    <input id="searchField" name="id" type="text" placeholder="Search" required autocomplete="off" />
                </form>
                <img id="search" src="~/images/magnifyingGlass.svg" />
            </div>
            <div id="burgermenu">
                
                <ul>
                   <h3>Genres</h3> 
                    @{
                        string[] genres = new string[] { "Comedy", "Action", "Sci-fi", "Fantasy", "Drama", "Documentary", "Adventure", "Romance" };
                        foreach (var genre in genres)
                        {
                            <li>
                                <a href="@Url.Action("Genre", "Filter", new { id = genre})">@genre</a>
                            </li>
                        }
                    }
                </ul>
            </div>
            <div id="navlinks">
                <ul>
                    @{

                        foreach (var genre in genres)
                        {
                            <li>
                                <a href="@Url.Action("Genre", "Filter", new { id = genre})">@genre</a>
                            </li>
                        }
                    }
                </ul>
            </div>
            <div id="previewSearch">

            </div>
        </nav>

    </Header>

     @RenderBody()
        
<footer>
    <address>
        <img src="~/images/email.svg"> <a href="mailto: hello@cmdb.nu">hello@cmdb.nu</a>
    </address>
    <address>
        <img src="~/images/phone.svg"> <a href="tel: 1111111">1111111</a>
    </address>
    <div id="socialNetworks">
        <img src="~/images/twitter.svg" />
        <img src="~/images/facebook.svg" />
        <img src="~/images/instagram.svg" />
    </div>
    
    
    <p>©Copyright 2021 cmdb.net</p>
</footer>

    <script src="~/js/search.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/burger.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
