@{
    ViewData["Title"] = "Home Page";
}
@model HomeViewModel


<div id="container">
   
    <section id="banner">
        <div class="spinnerContent">
            <h1 class="title"></h1>
            @Html.ActionLink(@Model.Movies[0].Title, "Movies", "DetailPage", null, null, null, new { id = @Model.Movies[0].imdbId }, null)
            <p id="like"></p>
            <div><p style="visibility: visible">@Model.Movies[0].plot.Substring(0, 50)...</p><p style="visibility:hidden">@Model.Movies[0].plot</p><button class="expandPlot">Read More</button></div>
            <img src="@Html.DisplayFor(model=>model.Movies[0].poster)" />
            @foreach (var rating in Model.Movies[0].ratings)
            {
                <div>
                    <p>@($"~/images/{rating.Source}.png")</p>
                    <img src=@($"~/images/{rating.Source}.png") />
                    <p>@rating.Source:</p>
                    <p>@rating.Value</p>
                </div>
            }

            <p class="plot">

            </p>
            <div class="ratings">
                <div class="ratingContainer">

                    <p class="CMDbRating"></p>
                </div>
                <div class="ratingContainer">
                    <img src="Resources/Images/imdblogo.png">
                    <p class="IMDbRating"></p>
                </div>

            </div>
            <div class="rank"></div>
        </div>
    </section>
    <section id="topList">
        @foreach (var movie in Model.Movies.Skip(1))
        {
        <div class="movieContainer">
            @Html.ActionLink(@movie.Title, "Movies", "DetailPage", null, null, null, new { id = @movie.imdbId }, null)
            <p class="likes">@Model.cmdbMovies.Where(x => x.imdbID == movie.imdbId).First().numberOfLikes</p>
            <div><p>@movie.plot.Substring(0, 50)...</p><p style="visibility:hidden">@movie.plot</p><button class="expandPlot">Read More</button></div>

            <img src="@movie.poster" />
            @foreach (var rating in movie.ratings)
            {
                <div>
                    <p>@rating.Source:</p>
                    <p>@rating.Value</p>
                </div>
            }


        </div>
        }
    </section>
    

</div>
<script src="~/js/main.js"></script>

